<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" providerName="System.Data.SqlClient"
          connectionString= "Data Source=(LocalDb)\\MSSQLLocalDB;Initial Catalog=BrainWare;Integrated Security=SSPI;AttachDBFilename=D:\\Users\\sblackmore\\BrainWare\\Web\\App_Data\\BrainWare.mdf"/>
  </connectionStrings>
</configuration>